<html>
<head>
    <title>{{ title }} - Test</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script type=text/javascript>
        $(function() {
          $('a#test').on('click', function() {
            console.log('CLICC');
            $.get('/background_process_test',
                function(data) {
              window.alert(data);
            });
            return false;
          });
        });


    </script>
</head>
<body>
<h1>Hello!</h1>

<nav>
    <ul>
        <li><a href="{{url_for('static', filename='Scan_Output.html')}}"> View Results! :) </a></li>
    </ul>
</nav>

<div class='container'>
    <h3>Run Scan</h3>
    <form>
        <a href=# id="test">
            <button class='btn btn-default'>Run Scan</button>
        </a>
    </form>

</div>
<div class="container">
    <p>
        Scan results:

        <code>
    <pre>
    {{scanresults}}
    </pre>
        </code>
    </p>
</div>
</body>
</html>
