<html>
<head>
    <title>{{ title }} - Test</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='index_handlers.js') }}" type=text/javascript></script>
</head>
<body>
<h1>Hello!</h1>
<div>
    <ul>
        <li>Interface:      {{ interface }} </li>
        <li>Private IP:     {{ hostname }} </li>
        <li> Gateway / Router IP :     {{ gateway }}</li>
        <li> Public IP:     {{ getpublicip }}</li>

    </ul>
</div>
<nav>
    <ul>
        <li><a href="{{url_for('static', filename='Scan_Output.html')}}"> View Results! :) </a></li>
        <li><a id="shodanOpen" href="#"> Check Exposure </a></li>
    </ul>
</nav>

<div class='container'>
    <h3>Run Scan</h3>
    <form>
        <a href=# id="test">
            <button class='btn btn-default'>Run Scan</button>
        </a>
    </form>

</div>

<!-- <div class="container">
    <p>
        Scan results:

        <code>
    <pre>
    {{scanresults}}
    </pre>
        </code>
    </p>
</div>
-->
</body>
</html>
